doctype html
html(lang="en")
  head
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    
  body
    #header.
      this is header
    #content
      block content
    #footer.
      this is footer
          
